body{
    background-color: #DCE1DE;
    color: #60565A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

};
a{
    color: #60565A;
    text-decoration: none;
}
a:link{
    color: #60565A;
    text-decoration: none;
    

}
a:visited{
    color: #60565A;
    text-decoration: none;
    

}
.sidebar{
    height: 100%;
    float: right;
    list-style: none;

}
.errorMessage{
    color: red;
}
p{
    color: #60565A;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
input[type=button], input[type=submit], input[type=reset] {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}
footer{
    position: fixed;
    padding: 10px 10px 0 10px;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
}